@charset "UTF-8";
/* CSS Document */

* {
    font-family: 'Sacramento', cursive;
}
* {
    font-family: 'Montserrat', sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    color: #432920;
}
#home {
    width: 2100px;
    height: 881.11px;
    background: url(../img/hero.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper {
    margin: 0 auto;
    padding: 0;
}
.palelavender {
    background-color: #e0b6d5;
}
.lavender {
    background-color: #dd8acc;
}
.pink {
    background-color: #f4b4d1;
}
.rose {
    background-color: #f286bc;
}
.aqua {
    background-color: #91d2c7;
}
.palepeach {
    background-color: #fcd3b9;
}
.peach {
    background-color: #f9b087;
}
.chocolate {
    background-color: #432920;
}
.white {
    background-color: #fff;
}
.chocolate_text {
    color: #432920;
}


a span {
	display: none;
}

ul {
list-style: none;
}
	
ul a, li {
	display: inline-block;
		
}
ul a {
		width: 8.583px;
	height: 18.803px;
}

li:first-child a {
	background: url("../img/sprites.png") no-repeat 0 0;
}

li:first-child a:hover {
	background-position: 0 -18.803px;
}
/*a span {
    display: none;
}
ul {
    list-style: none;
}
ul a, li {
    display: inline-block;
}
#ul a {
    width: 8.583px;
    height: 18.803px;
}
/*#twitter ul a {
    width: 11.27px;
    height: 18.704px;
}
#pinterest ul a {
    width: 14.039px;
    height: 18.628px;
}
#google ul a {
    width: 18.834px;
    height: 18.903px;
}
#youtube ul a {
    width: 15.533px;
    height: 15.798px;
}
li:first-child a {
    background: url("../img/facebook.png") no-repeat 0 0;
}
/*#twitter li:first-child a {
    background: url("../img/twitter.png") no-repeat 0 0;
}
#pinterest li:first-child a {
    background: url("../img/pinterest.png") no-repeat 0 0;
}
#google li:first-child a {
    background: url("../img/google.png") no-repeat 0 0;
}
#youtube li:first-child a {
    background: url("../img/youtube.png") no-repeat 0 0;
}
li a:hover {
    background-position: 0 -18.803px;
}
/*#twitter li a:hover {
    background-position: 0 -18.704px;
}
#pinterest li a:hover {
    background-position: 0 -18.628px;
}
#google li a:hover {
    background-position: 0 -18.903px;
}
#youtube li a:hover {
    background-position: 0 -15.798px;
}
*/